.profile-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.img-div {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1.5rem 0;
}
.profile-info {
  display: flex;
  flex-direction: column;
}

p {
  max-width: 30ch;
}

.carousel {
  color: #fff;
  line-height: 160px;
  text-align: center;
  max-width: 50%;
  height: auto;
}
.container {
  display: flex !important;
  justify-content: center;
  align-content: center;
}
/* .showcase-card {
  display: flex;
} */
